<p id="notice"><%= notice %></p>


<audio id="player-<%= @progression.id %>" src="<%= @progression.audio.url %>"></audio>
<button class="btn btn-primary" onclick="document.getElementById('player-<%= @progression.id %>').play()">Tocar</button>
<%= link_to "Próxima", practice_path, class: "btn btn-primary" %>

<hr>
<div class="row">
  <div class="col-lg-6">
    <p>Clique na progressão que você acabou de ouvir:</p>
    <table class="table table-bordered table-striped">
    <% @progressions.each do |progression| %>
      <tr>
        <td>
          <% js_correct = "$('.alert-correct').show(); $('.alert-wrong').hide();" %>
          <% js_wrong = "$('.alert-wrong').show(); $('.alert-correct').hide();" %>
          <%= link_to progression.description, "", class: "answer", onclick: @progression == progression ? js_correct : js_wrong %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="alert-correct">
  <hr>
  <div class="alert alert-success alert-correct" role="alert">
    <strong>Parabéns!</strong> Você acertou essa, passe para a <%= link_to "próxima", practice_path %>!
  </div>
</div>

<div class="alert-wrong">
  <hr>
  <div class="alert alert-warning alert-wrong" role="alert">
    <strong>Ops!</strong> Você errou essa, tente de novo!
  </div>
</div>

<hr>